@import "./white-func.styl";

.bg-white
  bg-white()
  .bg-base,
  &.bg-base
    bg-white()
.text-white
  text-white()
  .text-base,
  &.text-base
    text-white()
.border-white
  border-white()
  .border-base,
  &.border-base
    border-white()
