@import "./button-func.styl";

.button
  button()
  &.flat
    background:none
    depth(0)
    &:hover
      bg-cyan(300)
      depth(0)
      text-white()
    &:active
      depth(0)
    &.disabled
      disabled()
    &.waves-effect
      &:hover
        background:none
        text-cyan()
  &.text
    background:none
    padding:0 20px 0 0
    font-weight:bold
    depth(0)
    &:hover
      background:none
      color:$link-hover-color
      depth(0)
    &:active
      depth(0)
    &.disabled
      background:none
      &:hover
        text-grey(400)
a
  &.button
    &:hover,
    &:focus
      text-decoration:none
i
 &.waves-effect
   
  &:hover
    input[type=submit]
      background:none
      text-cyan()