@import "./dropdown-func.styl";

.relative
  position:relative
  .drop
    visibility:hidden
    opacity:0
    a
      &.list-item
        &:hover
          bg-grey(200)
  &:hover
    .drop
      visibility:visible
      opacity:1
.drop
  position:absolute
  transition:all .2s ease-in-out
  z-index:11
  &.up
    bottom:0
    top:auto
    &.max
      set-width()
  &.up-left
    put-up()
    put-left(true)
    &.max
      set-width()
  &.up-right
    put-up()
    put-right(true)
    &.max
      set-width()

  &.down
    top:0
    bottom:auto
    &.max
      set-width()
  &.down-left
    put-down()
    put-left(true)
    &.max
      set-width()
  &.down-right
    put-down()
    put-right(true)
    &.max
      set-width()

  &.left
    left:0
    right:auto
  &.left-down
    put-left()
    put-down(true)
    &.max
      set-width()
  &.left-up
    put-left()
    put-up(true)
    &.max
      set-width()

  &.right
    right:0
    left:auto
  &.right-down
    put-right()
    put-down(true)
    &.max
      set-width()
  &.right-up
    put-right()
    put-up(true)
    &.max
      set-width()