@import "./forms-func.styl";

input[type=text],
input[type=password],
input[type=email]
  forms-defaults()

.input
  forms-input-parent()

textarea
  max-width:100%
  min-width:100%
  min-height:100px
  forms-defaults()

select
  width:100%

label,
.label
  font-size:80%
  text-grey()
  &:not(div)
    inline()