@import "./crow-func.styl";
    
.crow
  padding: 0 ($gutter * 1px)
  crow()
  percent-widths($percent-widths-iterations)
  unit-widths($unit-widths-iterations)
  &.fly
    auto-widths($auto-widths-iterations)
  .crow
    font-size: 0
  > *
    padding: 0 ($gutter * 1px)
    &.up
      vertical-align: top
    &.down
      vertical-align: bottom
  &.up
    > *
      vertical-align: top
  &.down
    > *
      vertical-align: bottom
  &.no-gutter
    padding: 0
    > *
      padding: 0

.nest
  width: 960px
  margin: 0 auto
  padding: 0 ($gutter * 1px)
  > .crow
    margin: 0 (- $gutter * 1px)
    padding: 0

// Desktop only styles (desktops, 1200px and up) 
@media (min-width: $screen-lg-min)
  body
    // Your code here

// Tablet, both orientations
@media (min-width: $screen-sm-min) and (max-width: $screen-md-max)
  body
    .nest
      width:750px

    // .nest .crow > .crow
    //   destroy-crow()
  
  // Tablet, vertical
  @media (orientation: portrait)
    body
      // Your code here

  // Tablet, horizontal
  @media (orientation: landscape)
    body
      // Your code here


// Smartphone, both orientations
@media (max-width: $screen-xs-max)
  body
    .nest
      width: auto
    // .crow 
    //   &:not(.keep-alive)
    //     destroy-crow()

  // Smartphone, vertical
  @media (orientation: portrait)
    body
      // Your code here

  // smartphone, horizontal
  @media (orientation: landscape)
    body
      // Your code here